.container{
    background-color: blanchedalmond;
    font-family:'Times New Roman', Times, serif;
    width: 1000px;
}

.profile-box{
    background-color: white;
    width: 560px;
    height: 480px;
    border-radius: 10%;
    text-align: center;
    margin-left: 210px;
    padding: 20px;
}

.profile-picture{
    text-align: center;
    border-radius: 5%;
}

.profile-name{
    text-align: center;
}